/* ฟอนต์ทั้งหมด */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #333;
  background-color: #fff;
  margin: 30px;
}

/* หัวข้อหลัก */
h1 {
  text-align: center;
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  text-shadow: #000000;
}

/* หัวข้อรอง */
h2 {
  font-size: 1.2em;
  color: #222;
  margin-top: 10px;
  
}

p {
  text-align: justify;
  font-size: 1em;
}

/* เน้นข้อความ */
strong {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

/* แกลเลอรี */
.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 250px;
  height: auto;
  border-radius: 50px;
}

/* ตาราง */
table {
  
  width: 75%;
  margin: 0 auto;
 border: 1px solid #bab7b7;
  border-collapse: collapse;
  

}

th {
  border: 1px solid #ccc;
  background-color: #f3f2f3f2;
  color: #4c4b4b;
  padding: 5px;
  text-align: top;

  font-weight: bold;
  font-size: 1.1em;

}

td {
  border: 1px solid #ccc;
  color: #575656;
  padding: 7px;
  text-align: center;
}
.sumo {
  font-weight: bold;
  background-color: #f3f2f3f2;
}
.samo {
  font-weight: bold;
  background-color: #f3f2f3f2;
  
}
.saji {
  font-weight: bold;
  background-color: #f3f2f3f2;
}
.cen {
 font-weight: bold;
padding-top: 1px;
padding-bottom: 30px;
 }
.ter {
  font-weight: bold;
}
.park {
  font-weight: bold;
padding-top: 1px;
padding-bottom: 30px;
}
.rung {
  font-weight: bold;
  padding-top: 1px;
padding-bottom: 30px;
}
.sit {
  font-weight: bold;
}
.sho {
  font-weight: bold;
  text-align: center;
}
.sun {
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}