.container {
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    border: 2px solid black;
    /*flex-direction: column-reverse;*/
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 60px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
    font-size: 20px;
    text-align: center;

}