    body {
background: #89e489;
color: black;
}
h1 {
text-align: left;
font-size: 18pt;
font-style: normal;
color: rgb(0, 255, 21);
}
h3 {
text-align: left;
font-size: 14pt;
font-style: italic;
color: magenta;
}
p {
text-align: center;
font-style: normal;
font-family: Cordia New;
font-size: 14pt;
}
.jpn {
    text-align: left;
font-size: 80 pt;
font-style: normal;
color: rgb(243, 7, 7);
}
.red{
    color: #e60d0d;
}
#green{
    color: #06f106;
}
#big{
    font-size: 80 px;
}